<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fetch</title>
    {% load static %}  
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >  
    <link href="{% static 'css/formstyle.css' %}" rel="stylesheet" >  
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="js"></script>  
</head>
    <body>
        <div id="vue-app-fetch" class="container-fluid">
        <h2 >Customers</h2>

        <table class="table table-stripped table-bordered table-responsive">  
            <thead class="thead-dark">  
            <tr>  
                <th>Customer ID</th>  
                <th>Customer Name</th>  
                <th>Customer Mobile</th>   
                <th>Edit</th>
                <th>Delete</th>  
            </tr>  
            </thead>  
            <tbody>  
                <tr v-for="customer in customers">  
                    <td>[[ customer.id ]]</td>  
                    <td>[[ customer.name ]]</td>  
                    <td>[[ customer.mobile ]]</td>   
                    <td>  
                        <a class="btn btn-secondary" v-bind:href="'/customer/edit/'+[[customer.id]]"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                    </td>
                    <td>
                        <button class="btn btn-danger" v-on:click="deletecustomer([[customer.id]])">Delete</button>  
                    </td>  
                </tr>   
            </tbody>  
        </table>  
        </div>

        <script src="{% static 'axios/axios/dist/axios.min.js' %}" ></script> 
        <script src="{% static 'vuejs/vue.js' %}" ></script> 
        <script src="{% static 'js/fetch.js' %}" ></script>   
 
    </body>
</html>